/* @import url('https://fonts.googleapis.com/css?family=Inconsolata:700'); */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.full-background {
  /* background-image: url("./duo.png"); */
  height: 100vh; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  /* opacity: 50%; */
} 

.camo-logo {
  position: relative;
  color: white;
  height: 400px;
  left: 350px;
  z-index: 0;
  background-position: center;
}
.create-row {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap; 
}

.video {
  top: -65px;
  left: 300px;
  right: 300px;
}

.stream-links {
  text-align: center;
}

@font-face {
  font-family: 'Bones';
  src: url("./BONEAPA.TTF");
}

.song-title {
  text-align: center;
  font-family: "Bones";
  color: white;
}

.navbar-logo {
  position: fixed;
  float: left;
  margin: 16px 46px;
  color: #fff;
}

.navbar {
  position: fixed;
  left: 800px;
  width: 50%;
  line-height: 60px;
  z-index: 1;
}

.navbar-paths {
  font-family: "Helvetica Neue",sans-serif;
  font-weight: lighter;
  display: flex;
  left: 50px;
  justify-content: space-around;
  line-height: 60px;
  list-style: none;
  background: rgba(0, 0, 0, 0);
  overflow: hidden;
  padding: 0;
  text-align: right;
  margin: 0;
  padding-right: 40px;
  transition: 1s;
}

.navbar-paths a {
  text-decoration: none;
  color: #fff;
  font-family: "Bones";
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 2px;
}

.song-container {
  position: relative;
  top: -50px;
}

.search-bar {
  position: relative;
  top: -50px;
}

.contact-links div {
  position: relative;
  display: flex;
  justify-content: space-between;
  max-width: 500px;
  margin: 0 auto;
  top: -80px;
  left: 10px;
  size: 100px;
}

.socials:hover {
  transition: all .2s ease-in-out;
  transform: scale(1.5);
}

.spotify {
  color: green;
}

.instagram {
  background-color: thistle;
  color: white;
}

.navigate-songs {
  position: relative;
  left: 685px;
  color: white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.skull {
  position: relative;
  height: 50px;
}

.new-form {
  color: #fff;
  font-family: "Bones";
  z-index: 2;
  position: relative;
  top: -100px;
}
.edit-form {
  color: #fff;
  font-family: "Bones";
  z-index: 2;
  position: relative;
  top: -75px;
}