
.Tile {
    display: inline;
    background-repeat: no-repeat;
    background-position: center 90%;
    margin: 2%;
    padding: 1%;
    outline: #3B0B0B dotted thick;
    transition: 0.75s;
    opacity: 1;
  }

  .pictures_container img {
    max-height: 100%;
    max-width: 100%;
  }
  